.center {
    display: block;
margin-left: auto;
margin-right:auto;
padding-top: 108px;
}
.searchbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 350px;
    height: 20px;
    border-radius: 18px;
}
.box{
margin-left: 40%;
margin-top: 20px;
font-size: 25pt;
}